*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  font-family: 'Courier New', Courier, monospace;
  box-sizing: border-box; }

body {
  line-height: 1.6;
  font-weight: 400;
  color: #000; }
